<!-- The content below is only a placeholder and can be replaced. -->
<!--
  <nav>
    <div><h1>Elastic UI</h1></div>
  </nav>
-->

<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a [routerLink]="['/']" mat-list-item>
        <mat-icon class="icon">dashboard</mat-icon>
        <span class="label">Dashboard</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button><mat-icon>menu</mat-icon></button>
      </div>
      <div><a> Elastic UI </a></div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a [routerLink]="['/']">
              <mat-icon class="icon">dashboard</mat-icon>
              <span class="label">Dashboard</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main></main>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--
  <div class="container">
    <div class="row mt-2">
      <div class="col">
        <button class="btn btn-secondary" (click)="getTopHighestSalaries()">
          Top 3 salaries
        </button>
        <i style="font-size: 48px" class="material-icons">accessibility_new</i>
      </div>
    </div>
    <form [formGroup]="searchForm">
      <div class="row mt-2">
        <mat-form-field class="col">
          <input
            matInput
            [matAutocomplete]="auto"
            type="text"
            formControlName="name"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="selectedUserFn"
          >
            <mat-option *ngFor="let option of options" [value]="option">
              <div>
                <span>{{ option.first_name }} </span
                ><span>{{ option.last_name }}</span>
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div class="col-1">
          <button
            class="btn btn-lg btn-primary"
            (click)="loadEmploymentHistory(searchForm.get('name').value)"
          >
            Show Records
          </button>
        </div>
      </div>

      <div class="row" [ngSwitch]="loading">
        <app-employment-list
          *ngSwitchCase="false"
          [employments]="employments"
        ></app-employment-list>
        <mat-spinner *ngSwitchCase="true" style="margin: auto"></mat-spinner>
      </div>
    </form>
  </div>
-->
<div class="container"><router-outlet></router-outlet></div>
