<div>
  <mat-card class="mt-4">
    <mat-card-title> Departments </mat-card-title>
    <mat-card-content>
      <app-department-list
        [departments]="departments$ | async"
      ></app-department-list>
      <mat-spinner *ngIf="(departentsLoading$ | async)"></mat-spinner>
    </mat-card-content>
  </mat-card>
  <mat-card class="mt-4">
    <mat-card-title>Employees</mat-card-title>
    <mat-card-content>
      <mat-spinner *ngIf="(detailsLoading$ | async)"></mat-spinner>

      <app-employees-list [employees]="employees$ | async"></app-employees-list>
    </mat-card-content>
  </mat-card>
</div>
